body
{
  background: #818181;
  margin: 0;
  padding: 0;
}
header 
{
  position : absolute;
  top:0;
  left:0;
  right:0;
  height: 50px;
  background:#739ba9;
  text-align: center;
  color: black; 
}

#header-text
{
  color: white;
  display: table;
  height: 50px;
  text-align: center;
   font: italic bold 20px/30px Georgia, serif;
 
}

#header-text p
{
  display: table-cell;
  vertical-align: middle;
}

h1
{
  color: white;
  display: table;
  height: 20px;
  font: italic bold 17px/30px Georgia, serif;
  text-align: center;
}
b
{
color: white;
  height: 20px;
  font: italic bold 12px/30px Georgia, serif;
}


#spinner 
{
 width: 100% ;
 margin: auto;
}

#left 
{
  background-image: url('../img/home.png');
  width:50px;
  height: 50px;
  float: left;
}
#dashboard
{
  margin-top: 10px;
}

#dash
{
  width: 40%;
  padding: 0% 5% 0% 5%;
  float: left;
  margin-top: 10px;
}

#dash-item
{
  width: 90%;
  margin: auto;
}

#dash-item img
{
  width: 100%;
}


#menu
{
  width: 100%;
  height: 50px;
  background-color: #739ba9;
  border-bottom: 2px solid white;
}
#menu
{
  width: 100%;
  height: 50px;
  background-color: #739ba9;
  border-bottom: 2px solid white;
}

/* css for the table 3399FF  */
details {
  border-radius: 3px;
  background: #FFF;
  margin: 1em 0;
}

summary {
  background: #739ba9 ;
  color: #FFF;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}

/* Style the summary when details box E6E6E6 is open  border-bottom:69c773*/
details[open] summary {
  background: #739ba9 	 ;
}


table {
  border: 0;
  width: 100%;
}

th, td {
  vertical-align: top;
  text-align: left;
  padding: 0.5em;
  border-bottom: 1px solid #33CCFF	;
}

th {
  width: 200px;
}


.button
{
  width: 100px;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #cecece;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  text-indent:0px;
  border:1px solid #a3b0d1;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  line-height:42px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.button1
{
  width: 60px;
  height:40px;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #cecece;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  text-indent:0px;
  border:1px solid #a3b0d1;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  line-height:42px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.button2
{
  width: 140px;
  height:50px;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #cecece;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  text-indent:0px;
  border:1px solid #a3b0d1;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  line-height:42px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.text
{
  height: 20px;
  border-radius: 50px;
  padding: 4px;
  border: 2px solid #a3b0d1;
  outline: none;
}

  .textbox { 
    height: 20px;
	width:100px;
  border-radius: 50px;
  padding: 4px;
  border: 2px solid #a3b0d1;
  outline: none;
  } 
    .textbox1 { 
	width: 140px;
    height:120px;
  border-radius: 20px;
  padding: 4px;
  border: 2px solid #a3b0d1;
  outline: none;
  }
  .select
{
   height: 30px;
  border-radius: 50px;
  padding: 4px;
  border: 2px solid #a3b0d1;
  outline: none;
}
/* LOGIN */
#login-container
{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #e3e0e0;
}

#makeorders-container
{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #e3e0e0;
}
#view-container
{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #e3e0e0;
  height: 100%;
}
